---
title: Christoph Rumpel
layout: default
page-class: page--home
---

<section class="wrapper--content">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% for post in paginator.posts %}
            {% unless post.draft %}
            <article class="blog-article blog-article--preview{% if post.external_url %} blog-article--external-preview{% endif %}" role="article">
                <header class="blog-article__date">{{ post.date | date: "%B %d, %Y" }}</header>
                {% if post.external_url %}
                <h1 class="blog-article__title">
                    <a href="{{ post.external_url }}">
                        {{ post.title }}
                        <div class="external-preview__sign-wrapper">
                            <img class="external-preview__arrow" src="/assets/images/arrow.png" alt="Extern Link Arrow"/>
                        </div>
                    </a>
                </h1>
                {% else %}
                <h1 class="blog-article__title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h1>
                {% endif %}

            </article>
            {% endunless %}
            {% endfor %}
        </div>
    </div>
</section>

<nav class="navigation-wrapper">
    <ul class="nav nav--paging">
        {% if paginator.previous_page %}
        <li class="paging__prev animate">
            <a href="{{ paginator.previous_page_path }}">&lt; Prev</a>
        </li>
        {% endif %}

        {% if paginator.next_page %}
        <li class=" nav--horiz__item paging__next animate">
            <a href="{{ paginator.next_page_path }}">Next ></a>
        </li>
        {% endif %}
    </ul>
</nav>