---
published: true
---

{% include head.html %}
{% include header.html %}

<section class="wrapper--content" role="main">
    <div class="row">
        <div class="col-xs-12 col-md-8 blog-article-container">
            <article class="blog-article blog-article--full" role="article">
                <h1>Talks</h1>
                <p> I see a lot of benefits in being able to talk about coding and projects in front of other people. It is a win-win situation for you and your audience. Your audience can learn from your experiences and you get to meet lots of different people. Additionally you will learn a lot while preparing a talk too.</p>

                <h2>Right now I am talking about these topics</h2>
                <ul>
                    <li>Laravel PHP Framework</li>
                    <li>Chatbots (general)</li>
                    <li>NELA - A chatbot to improve your English skills</li>
                </ul>
                <h2>Upcoming talks</h2>
                <table>
                    <tr>
                        <th>Date</th></tg>
                        <th>Location</th>
                        <th>Talk</th>
                    </tr>
                    <tr>
                        <td>06 - 07.10.2017</td>
                        <td><a href="https://2017.webcampzg.org/talks/">WebCamp Zagreb (Croatia)</a></td>
                        <td>The State Of Chatbots in 2017</td>
                    </tr>

                </table>
                <h2>My last talks</h2>
                <table>
                    <tr>
                        <th>Date</th></tg>
                        <th>Location</th>
                        <th>Talk</th>
                    </tr>
                    <tr>
                        <td>26.09.2017</td>
                        <td><a href="https://www.meetup.com/Laravel-Frameworkers-Vienna/events/241109602/">Laravel Vienna Meetup</a></td>
                        <td>What's new in Laravel 5.5 - A practical introduction</td>
                    </tr>
                    <tr>
                        <td>29.08.2017</td>
                        <td><a href="https://laracon.eu/2017/#schedule">Laracon EU Unconference</a></td>
                        <td>The State Of Chatbots In 2017</td>
                    </tr>
                    <tr>
                        <td>20.06.2017</td>
                        <td><a href="https://www.meetup.com/viennaphp/events/240366713/">ViennaPHP Meetup</a></td>
                        <td>The beauty of Laravel's notification system and how it helped me to create my first Laravel package</td>
                    </tr>
                    <tr>
                        <td>17.05.2017</td>
                        <td><a href="https://www.meetup.com/Laravel-Frameworkers-Vienna/events/237725787/">Laravel Frameworkers Vienna Meetup</a></td>
                        <td>The beauty of Laravel's notification system and how it helped me to create my first Laravel package</td>
                    </tr>
                    <tr>
                        <td>23.02.2017</td>
                        <td><a href="https://www.meetup.com/viennaphp/">ViennaPHP Meetup</a></td>
                        <td>NELA and the chatbots</td>
                    </tr>
                    <tr>
                        <td>20.11.2016</td>
                        <td><a href="https://www.facebook.com/BotsHub/">BotsHubVienna Meetup</a></td>
                        <td>NELA - A chatbot to improve your language skills</td>
                    </tr>
                    <tr>
                        <td>25.04.2016</td>
                        <td><a href="https://www.meetup.com/de-DE/webclerks/">Webclerks Meetup</a></td>
                        <td>Hello World, I'm Laravel</td>
                    </tr>
                    <tr>
                        <td>28.11.2015</td>
                        <td><a href="https://2015.drupalcamp.at/">DrupalCamp Conference Vienna</a></td>
                        <td>Hello World, I'm Laravel</td>
                    </tr>
                    <tr>
                        <td>17.04.2015</td>
                        <td><a href="https://www.meetup.com/viennaphp/">ViennaPHP Meetup</a></td>
                        <td>Laravel 5</td>
                    </tr>
                </table>

                <div class="note"><strong>Note:</strong> You can find my slides on <a href="https://speakerdeck.com/christophrumpel">Speaker Deck</a></div>

            </article>
        </div>
    </div>
</section>






{% include footer.html %}