*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background: $bg-primary-color;
	font-size: 20px;
	font-family: 'Ubuntu', 'sans-serif';
	font-weight: 300;
	line-height: 1.5;
}

a {
	@extend .animate;
	color: $brand-color;
	text-decoration: underline;
	&:hover {
		color: $brand-color-darken;
	}
}

h1, h2, h3, h4, h5 {
	color: $brand-color;
}

p {
	margin: 0 0 1rem;
}

pre {
	color: #888;
}

:not(pre)>code {
	padding: 2px 4px;
	font-size: 75%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: normal;
	border-radius: 4px;
}

// Fonts
.font-medium {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}

.font-italic {
	font-style: italic;
}

// Animations
.animate {
	transition: .7s ease-out all;
}


// Wrapper
.wrapper--top-down {
	padding: 2rem;
	@include clearfix();
	
	@include respond-to(600) {
		padding: 2rem 4rem;
	}
}

.wrapper--content {
	padding: 2rem 2rem;
	margin: auto;
	float: none;
	@include clearfix();
	
	@include respond-to(600) {
		padding: 2rem 4rem;
	}

	@include respond-to(800) {
		padding: 4rem 6rem 0;
	}
}



