/*
|--------------------------------------------------------------------------
| *Vars* Information
|--------------------------------------------------------------------------
|
| Author: Christoph Rumpel
| Created: 11.04.2014
| Updated: 28.04.2014
| Version: v0.01
|
*/


$brand-color:         	#65aa9c;
$brand-color-darken: darken( $brand-color, 15% );
$bg-primary-color: 	  	#fff;
$bg-secondary-color: 	#323232;

$text-light-color: #fff;
$text-dark-color: #666;

$main-padding: 	3rem;