.nav {
	padding: 0;
	margin: 0;
	@include clearfix();

	
	&.nav--horiz {
		.nav--horiz__item {
			float: left;
			list-style: none;
		}
	}

	&.nav--paging {
		margin: auto;
		margin-top: 3rem;
		text-align: center; 
		li {
			background-color: #eee;
			padding: 10px 15px;
			text-align: center;
			display: inline-block;
			width: 160px;
			&:hover {
				background-color: #ddd;
			}
			&:first-child {
				margin-right: 10px;  
			}
			a {
				&:hover {
					background: none;
				}
			}
		}
	}
	
	&.nav--main {
		color: $text-light-color;
		@include x-rem(font-size, 20px);
		float: left;
		
		li {
			padding: 1rem;
		}
	}

}