<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index,follow">
        <meta property="og:image" content="http://christoph-rumpel.com/assets/images/me.png">
        {% if page.article_description %}
        <meta name="description" content="{{ page.article_description }}">
        <meta name="og:description" content="{{ page.article_description }}">
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
        <meta property="og:title" content="{{ page.title }}"/>
        {% else %}
        <meta name="description" content="{{ site.description }}">
        <meta name="og:description" content="{{ site.description }}">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url }}"/>
        <meta property="og:title" content="{{ site.name }}"/>
        {% endif %}
        <link rel="icon" href="/favicon.png">
        <title>Christoph Rumpel</title>
        <!--[if lt IE 9]>
              <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
              type='text/css'>
        <style type="text/css">
            {% include style.min.css %}
        </style>
        <style type="text/css">
            {% include font.css %}
        </style>
    </head>

    <body>