---
published: true
comments: true
"page-class": "page--post"
---

{% include head.html %}
{% include header.html %}

<section class="wrapper--content">
	<div class="row">
			<div class="col-xs-12 col-md-8 blog-article-container">
				<article class="blog-article blog-article--full">
				<time>{{ page.date | date: "%B %d, %Y" }}</time>
				<h1>{{ page.title }}</h1> 

				{{ content }}

			</article>
		</div>
	</div>
</section>


{% unless page.nocomments %}
	<section class="wrapper--top-down">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		    var disqus_shortname = 'christophrumpel'; // required: replace example with your forum shortname

		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</section>
{% endunless %}




{% include footer.html %}